{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>node_name</th>
        <th>level</th>
        <th>execution_time</th>
        <th>start_time</th>
        <th>pid</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
        <tr>
          <td>{{ record.node_name }}</td>
          <td>{{ record.level }}</td>
          <td>{{ record.execution_time }}</td>
          <td>{{ record.start_time }}</td>
          <td>{{ record.pid }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          null,
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}
