{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>node_name</th>
        <th>duration</th>
        <th>start_time</th>
        <th>finish_time</th>
<!--        <th>status</th>-->
        <th>pid</th>
        <th>history</th>
        <th>info</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
        <tr>
          <td>{{ record.node_name }}</td>
          <td>{{ record.duration }}</td>
          <td>{{ record.start_time }}</td>
          <td>{{ record.finish_time }}</td>
<!--          <td>{{ record.node_status }}</td>-->
          <td>{{ record.pid }}</td>

          <td id="history_fig">
            <button type="button" data-toggle="modal" data-target="#durationFig">
              Show
            </button>
          </td>

          <td align="center">
            {% if record.node_status == "error" %}
              <a data-toggle="popover" data-container="body" title="Popover Header" data-content="Some content inside the popover">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
              </a>
            {% elif record.duration > bar %}
              <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='orange' class='bi bi-info-circle' viewBox='0 0 16 16'>\
                <path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/>\
                <path d='m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/>\
              </svg>
            {% endif %}
            {% if record.info == True %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
              </svg>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="modal fade" id="durationFig">
    <div class="modal-dialog modal-lg" style="width:690px;height:485px;">
      <div class="modal-content">
        <div class="modal-header" style="height:45px;">
          <h3 class="modal-title">History Duration</h3>
        </div>
        <div class="modal-body" id="putFig" style="text-align: center;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('[data-toggle="popover"]').popover();
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {searchable: false},
          {searchable: false},
<!--          {searchable: false},-->
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {searchable: false}
        ]
      });
    });

    $('#data tbody').on('click', 'button', function () {
      var nodeName = $(this)[0].childNodes[0].parentNode.parentElement.parentNode.childNodes[1].childNodes[0].data;
      console.log(nodeName);

      $.ajax({
        type: "GET",
        url: "draw_duration",
        data: {node_name: nodeName}
      }).done(function(fig_path) {
        var fig_tag = "<img class='img-responsive'  src='" + fig_path + "'/>"
        $('#putFig').html(fig_tag);
        const popUp = new bootstrap.Modal('#durationFig', options);
        popUp.show();
      });
    });

  </script>
{% endblock %}